@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <h2>About the Coffee</h2>
        <p>
            Where did it start? Click below to find out.
        </p>
        <p>@Html.ActionLink("About the Beans", "About") </p>
    </div>
    <div class="col-md-4">
        <h2>Coffee details</h2>
        <p>If somehow you don't know by now, EDUCATE YOURSELF!!! Click below</p>
        <p>@Html.ActionLink("Coffee Blends and Trends", "Coffee")</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h5>
            @Html.ActionLink("Back to the Blender", "Index")
            
        </h5>
    </div>
</div>
