@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <h2>About the Coffee</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="~/Views/Coffee/About.cshtml">About &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coffee details</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="~/Views/Coffee/Coffee.cshtml">Coffee &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h5>
            <a href="index.html">Back to the blender</a>
        </h5>
    </div>
</div>
