
@{
    ViewBag.Title = "ListofCompetitors";
}

<h2>ListofCompetitors</h2>
<div class="row">
    <div class="col-lg-10">
        <ul>
            <li><a href="https://www.starbucks.co.uk/" target="_blank">Starbucks</a></li>
            <li><a href="https://www.costa.co.uk/" target="_blank">Costa</a></li>
            <li><a href="https://caffenero.com/uk/" target="_blank">Caffe Nero</a></li>
            
        </ul>
    </div>


</div>

<div class="row">
    <div class="col-md-8">
        <h5>
            @Html.ActionLink("Back to the Blender", "Index")
        </h5>
    </div>
</div>